.dialog1 {
behavior:url(../css/PIE/PIE.htc);
position:fixed;
display:inline-block;
border:1px #0C0 solid;
   background-color:#030;
   display:none;
   z-index:999;
border-radius:8px;
   -webkit-border-radius:8px;
   -moz-border-radius:8px;
color:#0F0;
padding:5px;
}
.dialog1 table { }
.dialog1 table tr { }
.dialog1 table tr th { background-color:#060; }
.dialog1 table tr td { }
.dialog1 table tbody tr td:last-child { }
.dialog1 table tbody tr td.td-buttons { text-align:right; }
.dialog1 table input[type=text] { width:250px; font-weight:bold; padding:5px; }
.dialog1 table input[type=password] { width:250px; }
.dialog1 table input[type=button] { border:1px #090 solid; margin:3px 0px; }
.dialog1 table input[type=submit] { border:1px #090 solid; margin:3px 0px; }
.dialog1 table select { width:250px; padding:5px; }
.layer-bloquer {
position:fixed;
width:100%;
height:100%;
z-index:998;
opacity:0.5;
background-color:#030;
display:none;
}
